h1{
    text-align: center;
    margin: 5% auto 2%;
}

.tabla-container{
    width: 80%;
    margin: 0 auto;
}

.formulario-container{
    width: 80%;
    margin: 5% auto;
}

#form-modificar{
    border: 2px solid #212529;
    border-radius: 5px;
    padding: 2% 4%;
}

#form-agregar{
    border: 2px solid #007BFF;
    border-radius: 5px;
    padding: 2% 4%;
}

.no-mostrar{
    display: none;
}

#boton-agregar-paciente {
    margin-left: 10%;
}